<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscription</title>
</head>

<body id="inscriptionbody">
    {{ header }}

    <h1 id = "inscriptionh1" >Formulaire d'inscription</h1>
    <div class="incription-form ">
    <form id = "inscriptionform" method="post">

      <label for="username"> Username: </label>

      <input class="inscriptioninput" type="text" id="username" name="username" required>
      
      <label for="email">Email:</label>
      <input class="inscriptioninput"  type="email" id="email" name="email" required>
      
      <label for="password">Password:</label>
      <input  class="inscription input" type="password" id="password" name="password" required>
      
      <label for="confirm-password">Confirm Password:</label>
      <input class="inscriptioninput" type="password" id="confirm_password" name="confirm_password" required>
      
      <label for="dob">Date of Birth:</label>

      <input class="inscriptioninput"  type="date" id="dob" name="dob" required>
      
     
      <select id="selectgender" name="gender" required>
        <option value="">Please select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      
      <input class="inscriptioninput" name = 'inscriptionsubmit' id ="inscriptionsubmit" type="submit" value="Register">
    </form>
    <div>
</body>

</html>