<form method="post">
    <label class="fontForm" for="username">Identifiant</label>
    <input class="inputForm" type="text" id="username" name="username">
    <label class="fontForm" for="password">Mot de passe</label>
    <input class="inputForm" type="password" id="password" name="password">
    <input class="fontForm" type="submit" value="Se connecter" name="connect">
</form>
<a class="fontForm" id="registerBtn" href="route.php?page=inscription">Inscription</a>