<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="CSS/styles.css">
    <script src="JS/scripts.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathologies</title>
</head>
<body id="body">
    {{ header }}
    <form method="post" class="formAdmin">
        <select name="userList" class="List" id="userList" method="post">
            {% for usermame in userAccount %}
                <option value="{{ usermame }}"> {{ usermame }} </option>
            {% endfor %}
        </select>
        <div id="adminBtn">
            <input name="delete" class="fontForm" id="deleteAcc" type="submit" value="Supprimer">
            <input name="addAdmin" class="fontForm" id="addAdmin" type="submit" value="Ajouter admin">
            <input name="removeAdmin" class="fontForm" id="removeAdmin" type="submit" value="Retier admin">
        </div>
    </form>
</body>
</html>
   
   
   

