<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/styles.css">
    <script src="../JS/scripts.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acupuncture</title>
</head>
<body>
  <!-- en-tête -->
   {{ header }}
  
  <main class="mainIndex">
    <section id="hero">
      <h2>Bienvenue sur notre site d'acupuncture</h2>
      <p>Nous sommes une équipe d'acupuncteurs professionnels. Nous offrons une expertise pour aider nos patients à atteindre une meilleure santé et un bien-être optimal.</p>
    </section>
    
    <section id="services">
    <h2>Notre service</h2>
      <a href="route.php?page=pathologies" class="cta">Recherche de pathologies</a>
    </section>
  
  {{ footer }}



</body>
</html>